# Local / source ip address
BELL_SOURCE_IP=

# Destination / SIP server ip address
BELL_SERVER_IP=

# TCP Port of SIP Server
BELL_SERVER_PORT=5060

# SIP Target address
BELL_SIP_TARGET=

# Username for SIP authentification
BELL_USERNAME=

# Password for SIP authentification
BELL_PASSWORD=

# Ring duration in milliseconds
BELL_DURATION_MILLIS=2000

# Serial port of arduino
BELL_SERIAL=/dev/ttyUSB0
